@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
    --yellow: 255, 214, 0;
    --orange: 255, 122, 0;
    --pink: 255, 0, 105;
    --purple: 211, 0, 197;
    --blue: 118, 56, 250;
  }
}
body {
  @apply bg-background text-primary;
}

.animate-gradient {
  background-size: 200% 200%;
  background-image: linear-gradient(
    to right top,
    rgba(var(--yellow)),
    rgba(var(--orange)),
    rgba(var(--pink)),
    rgba(var(--purple)),
    rgba(var(--blue))
  );
  animation: gradient 10s ease infinite alternate;
}

/* Animate the gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scrollbar::-webkit-scrollbar {
  border-radius: 10px;
  background-color: white;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(var(--yellow), 0.7),
    rgba(var(--orange), 0.7),
    rgba(var(--pink), 0.7),
    rgba(var(--purple), 0.7),
    rgba(var(--blue), 0.7)
  );
  width: 10px;
}
@media (max-width: 1024px) {
  .scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}

.toast {
  background-image: linear-gradient(
    to right top,
    rgba(var(--yellow), 0.7),
    rgba(var(--orange), 0.7),
    rgba(var(--pink), 0.7),
    rgba(var(--purple), 0.7),
    rgba(var(--blue), 0.7)
  );
}
